@tailwind base;
@tailwind components;
@tailwind utilities;


@media (min-width: 375px) and (max-width: 1370px) {
  .modal-main {
    width: 100% !important;
  }
}

.transition-btn:focus  {
  transform: scale(0.95) !important;
}

body {
  color: black;
  background-image: url("https://acquire.viewonlinemanuals.com/content/19638");
  background-size: cover;
  background-repeat: no-repeat;

}